{{#each dataBet}}
<section class="bet-games">
  <div class="card" style="width: 200 px;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">Juego número: {{gameNumber1}}</h5>
      <div class="row">
        <div class="col"><img src="/img/flags/{{localFlag1}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{localTeam1}}</p>
        </div>
        <div class="col"><img src="/img/flags/{{visitFlag1}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{visitTeam1}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="card-text">{{localScore1}}</h2>
        </div>
        <div class="col">
          <p>Apuesta analoga: </p>
          <h2>{{analogScore1}}</h2>
        </div>
        <div class="col">
          <h2 class="card-text">{{visitScore1}}</h2>
        </div>
      </div>
      <p>Puntos ganados: {{earnedScore1}}</p>
    </div>

    <div class="card-footer">
      <div class="container">
        <form action="../api/bet-games/me/bet/{{idBet1}}/{{idNextGame}}/{{phase}}/?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Goles local</label> --}}
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles local"
                  name="localScore" required>
              </div>
            </div>

            <div class="col">
              <div class="mb-3">
                {{!-- <label for="select" class="form-label">Apuesta L-E-V</label> --}}
                <select class="form-select" aria-label="Default select example" id="select" name="analogScore" required>
                  <option value="L">Local</option>
                  <option value="E">Empate</option>
                  <option value="V">Visitante</option>
                </select> 
              </div>
            </div>

            <div class="col">
              <div class="mb-3">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Goles visitante</label> --}}
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles visitante"
                  name="visitScore" required>
              </div>
            </div>


          </div>
          {{#if render}}
          <div class="row">
            <div class="col-2">
              Clasifica:
            </div>
            <div class="col-2">
              <img src="/img/flags/{{betLocalFlag}}" alt="flag" width="70%">
            </div>
            <div class="col-3">
              {{betLocalTeam}}
            </div>
            <div class="col-5">
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" id="select" name="betLocalTeam" required>
                  <option value={{localTeamId1}}>{{localTeam1}}</option>
                  <option value={{visitTeamId1}}>{{visitTeam1}}</option>
                </select>
              </div>
            </div>
          </div>
          {{/if}}

          <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Apuesta!!</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  {{!-- INICIO DE LA INFORMACIÓN DEL SEGUNDO PARTIDO --}}
  <div class="card" style="width: 200 px;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">Juego número: {{gameNumber2}}</h5>
      <div class="row">
        <div class="col"><img src="/img/flags/{{localFlag2}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{localTeam2}}</p>
        </div>
        <div class="col"><img src="/img/flags/{{visitFlag2}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{visitTeam2}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="card-text">{{localScore2}}</h2>
        </div>
        <div class="col">
          <p>Apuesta analoga: </p>
          <h2>{{analogScore2}}</h2>
        </div>
        <div class="col">
          <h2 class="card-text">{{visitScore2}}</h2>
        </div>
      </div>
      <p>Puntos ganados: {{earnedScore2}}</p>
    </div>

    <div class="card-footer">
      <div class="container">
        <form action="../api/bet-games/me/bet/{{idBet2}}/{{idNextGame}}/{{phase}}/?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="row">

            <div class="col">
              <div class="mb-3">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Goles local</label> --}}
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles local"
                  name="localScore" required>
              </div>
            </div>

            <div class="col">

              <div class="mb-3">
                {{!-- <label for="select" class="form-label">Apuesta L-E-V</label> --}}
                <select class="form-select" aria-label="Default select example" id="select" name="analogScore" required>
                  <option value="L">Local</option>
                  <option value="E">Empate</option>
                  <option value="V">Visitante</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="mb-3">
                {{!-- <label for="exampleFormControlInput1" class="form-label">Goles visitante</label> --}}
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles visitante"
                  name="visitScore" required>
              </div>
            </div>

          </div>

          {{#if render}}
          <div class="row">
            <div class="col-2">
              Clasifica:
            </div>
            <div class="col-2">
              <img src="/img/flags/{{betVisitFlag}}" alt="flag" width="70%">
            </div>
            <div class="col-3">
              {{betVisitTeam}}
            </div>
            <div class="col-5">
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" id="select" name="betVisitTeam" required>
                  <option value={{localTeamId2}}>{{localTeam2}}</option>
                  <option value={{visitTeamId2}}>{{visitTeam2}}</option>
                </select>
              </div>
            </div>
          </div>
          {{/if}}


          <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Apuesta!!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
</br>
</br>
</br>

{{else}}
<h1>NO HAY JUEGOS POR MOSTRAR</h1>
{{/each}}


