{{#each dataBetClassification}}
<a name ="class"></a>
<section class="bet-classification">
  <br>
  <br>
  <br>
    <form action="../api/bet-classifications/me/bet/group/{{group}}/?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clasificaciones del grupo {{group}}</h5>
        <h4 class="card-title">Apuesta actual del grupo {{group}}</h4>
        <div class="row">
          <div class="col">
            <p>Orden</p>
          </div>
          <div class="col">
            <p>Equipo</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>1</p>
          </div>
          <div class="col">
            <img src="/img/flags/{{flagFirstTeam}}" alt="flag" width="40%">
          </div>
          <div class="col">
            <p>{{betFirstTeam}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>2</p>
          </div>
          <div class="col">
            <img src="/img/flags/{{flagSecondTeam}}" alt="flag" width="40%">
          </div>
          <div class="col">
            <p>{{betSecondTeam}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>3</p>
          </div>
          <div class="col">
            <img src="/img/flags/{{flagThirdTeam}}" alt="flag" width="40%">
          </div>
          <div class="col">
            <p>{{betThirdTeam}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>4</p>
          </div>
          <div class="col">
            <img src="/img/flags/{{flagFourthTeam}}" alt="flag" width="40%">
          </div>
          <div class="col">
            <p>{{betFourthTeam}}</p>
          </div>
        </div>


        <p class="card-text">Realiza la apuesta por clasificacion del grupo {{group}}.</p>

        <div class="row">
          <div class="col">
            <p>Orden</p>
          </div>
          <div class="col">
            <p>Equipo</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>1째</p>
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example" id="select" name="firstTeam" required>
              <option value="{{teamOneId}}">{{teamOne}}</option>
              <option value="{{teamTwoId}}">{{teamTwo}}</option>
              <option value="{{teamThreeId}}">{{teamThree}}</option>
              <option value="{{teamFourId}}">{{teamFour}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>2째</p>
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example" id="select" name="secondTeam" required>
              <option value="{{teamOneId}}">{{teamOne}}</option>
              <option value="{{teamTwoId}}">{{teamTwo}}</option>
              <option value="{{teamThreeId}}">{{teamThree}}</option>
              <option value="{{teamFourId}}">{{teamFour}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>3째</p>
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example" id="select" name="thirdTeam" required>
              <option value="{{teamOneId}}">{{teamOne}}</option>
              <option value="{{teamTwoId}}">{{teamTwo}}</option>
              <option value="{{teamThreeId}}">{{teamThree}}</option>
              <option value="{{teamFourId}}">{{teamFour}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>4째</p>
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example" id="select" name="fourthTeam" required>
              <option value="{{teamOneId}}">{{teamOne}}</option>
              <option value="{{teamTwoId}}">{{teamTwo}}</option>
              <option value="{{teamThreeId}}">{{teamThree}}</option>
              <option value="{{teamFourId}}">{{teamFour}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <p>Puntos ganados: </p>
          <h4>Puntaje por primero: {{pointByFirst}}</h4>
          <h4>Puntaje por segundo: {{pointBySecond}}</h4>
          {{#if renderFinal}}
          <h4>Puntaje por tercero: {{pointByThirdh}}</h4>
          <h4>Puntaje por cuarto: {{pointByFourth}}</h4>
          {{/if}}
          <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Clasificacion</button>
          </div>

        </div>
  </form>
</section>
{{else}}
<h1>NO HAY QUE MOSTRAR CLASIFICACIONES</h1>
{{/each}}