{{#each betGames}}

<section class="bet-games">
  <div class="card" style="width: 200 px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">APUESTAS POR GRUPO</h5>
      <div class="row">
        <div class="col"><img src="/img/flags/{{localFlag}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{localTeam}}</p>
        </div>
        <div class="col"><img src="/img/flags/{{visitFlag}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{visitTeam}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="card-text">{{localScore}}</h2>
        </div>
        <div class="col">
          <p>Apuesta analoga: </p>
          <h2>{{analogScore}}</h2>
        </div>
        <div class="col">
          <h2 class="card-text">{{visitScore}}</h2>
        </div>
      </div>
      <p>Puntos ganados: {{earnedScore}}</p>
    </div>

    <div class="card-footer">
      <div class="container">
        <form action="../api/bet-games/me/bet/{{_id}}/?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="row">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Goles local</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles local"
                name="localScore" required>
            </div>
            <div class="mb-3">
              <label for="select" class="form-label">Apuesta L-E-V</label>
              <select class="form-select" aria-label="Default select example" id="select" name="analogScore" required>
                <option value="L">Local</option>
                <option value="E">Empate</option>
                <option value="V">Visitante</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Goles visitante</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Goles visitante"
                name="visitScore" required>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Apuesta!!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{else}}
<h1>NO HAY JUEGOS POR MOSTRAR</h1>
{{/each}}

