{{#each dataGame}}
  <div class="card" style="width: 200 px;">
    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
    <div class="card-body">
      <h5 class="card-title">Juego número: {{gameNumber}}</h5>
      <div class="row">
        <div class="col"><img src="/img/flags/{{localFlag}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{localTeam}}</p>
        </div>
        <div class="col"><img src="/img/flags/{{visitFlag}}" alt="flag" width="50%"></div>
        <div class="col">
          <p class="card-text">{{visitTeam}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="card-text">{{localScore}}</h2>
        </div>
        <div class="col">
          <p>Apuesta analoga: </p>
          <h2>{{analogScore}}</h2>
        </div>
        <div class="col">
          <h2 class="card-text">{{visitScore}}</h2>
        </div>
      </div>
         </div>
  </div>

{{else}}
<h1>NO HAY GAMES EN ESTA VISTA</h1>
{{/each}}
